<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flask template demo</title>
  </head>

  <body>
    <img src="{{ url_for('static', filename='tux.png') }}"/>
    <h1>Enabled Users</h1>
    <table>
        <thead>
            <tr>
                <th>#ID</th>
                <th>name</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.enabled %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>